<!DOCTYPE html>
<html>
<head>

<title> ADD Song </title>
</head>
<body>


<form action="/addsongs" method="post">
<label> Song Name</label><br>
<input type="text" name="name">
<br><br>
<label> Song Artist</label><br>
<input type="text" name="artist">
<br><br>
<label> Songgenre</label><br>
<input type="text" name="genre">
<br><br>
<label> Songlink</label><br>
<input type="text" name="link">
<br><br>
<input type="submit" value="ADD SONG">
<label></label> 
</form>
</body>
</html>